In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\asus\anaconda3\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
import mysql.connector
from mysql.connector import Error

# Membuat koneksi ke database MySQL
def create_connection():
    try:
        connection = mysql.connector.connect(
            host='localhost',
            database='rumah_sakit',  # Nama database
            user='root',                    # Username MySQL
            password=''             # Password MySQL
        )
        if connection.is_connected():
            print("Koneksi ke MySQL berhasil!")
        return connection

    except Error as e:
        print(f"Error saat terhubung ke MySQL: {e}")
        return None

# Fungsi untuk menutup koneksi
def close_connection(connection):
    if connection.is_connected():
        connection.close()
        print("Koneksi ke MySQL ditutup.")

# Fungsi untuk membuat tabel
def create_table(connection):
    try:
        cursor = connection.cursor()
        cursor.execute("""
            id_pasien INT AUTO_INCREMENT PRIMARY KEY,
            nama VARCHAR(100),
            tanggal_lahir DATE,
            jenis_kelamin ENUM('L', 'P'),
            alamat VARCHAR(255)
            )
        """)
        connection.commit()
        print("Tabel pasien berhasil dibuat.")
    except Error as e:
        print(f"Error saat membuat tabel: {e}")

# Fungsi untuk memasukkan data
def insert_data(connection):
    try:
        cursor = connection.cursor()
        sql_insert = """
            INSERT INTO pasien (nama, tanggal_lahir, jenis_kelamin, alamat) VALUES (%s, %s, %s, %s)
        """
        data = [
            ('Cahyaningrum', '2000-01-12', 'P', 'Jl. Jendral Sudirman')
        ]
        cursor.executemany(sql_insert, data)
        connection.commit()
        print(f"{cursor.rowcount} data berhasil dimasukkan.")
    except Error as e:
        print(f"Error saat memasukkan data: {e}")

# Fungsi untuk membaca data dari tabel
def read_data(connection):
    try:
        cursor = connection.cursor()
        cursor.execute("SELECT * FROM pasien")
        rows = cursor.fetchall()
        print("Data dalam tabel pasien:")
        for row in rows:
            print(row)
    except Error as e:
        print(f"Error saat membaca data: {e}")

# Fungsi untuk mengupdate data
def update_data(connection, id_pasien, alamat_baru):
    try:
        cursor = connection.cursor()
        sql_update = "UPDATE pasien SET alamat = %s WHERE id_pasien = %s"
        data = (alamat_baru, id_pasien)
        cursor.execute(sql_update, data)
        connection.commit()
        print(f"Data id_pasien {id_pasien} berhasil diperbarui.")
    except Error as e:
        print(f"Error saat mengupdate data: {e}")

# Fungsi untuk menghapus data
def delete_data(connection, id_pasien):
    try:
        cursor = connection.cursor()
        sql_delete = "DELETE FROM pasien WHERE id_pasien = %s"
        cursor.execute(sql_delete, (id_pasien,))
        connection.commit()
        print(f"Data id_pasien {id_pasien} berhasil dihapus.")
    except Error as e:
        print(f"Error saat menghapus data: {e}")

# Main program
if __name__ == "__main__":
    connection = create_connection()

    if connection is not None:
        # Membuat tabel jika belum ada
        create_table(connection)

        # Memasukkan data ke tabel
        insert_data(connection)

        # Membaca data dari tabel
        read_data(connection)

        # Mengupdate data anggota
        update_data(connection, 1, "Jl. Gatot Subroto")

        # Membaca data setelah update
        read_data(connection)

        # Menghapus data anggota
        delete_data(connection, 3)

        # Membaca data setelah penghapusan
        read_data(connection)

        # Menutup koneksi
        close_connection(connection)

Koneksi ke MySQL berhasil!
Error saat membuat tabel: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'id_pasien INT AUTO_INCREMENT PRIMARY KEY,
            nama VARCHAR(100),
    ...' at line 1
1 data berhasil dimasukkan.
Data dalam tabel pasien:
(1, 'Budi Santoso', datetime.date(1985, 4, 12), 'L', 'Jl. Merdeka No. 20')
(3, 'Bey Putri', datetime.date(2000, 1, 31), 'P', 'Jl. Cipto Mangunkusumo')
(4, 'Cahyaningrum', datetime.date(2000, 1, 12), 'P', 'Jl. Jendral Sudirman')
Data id_pasien 1 berhasil diperbarui.
Data dalam tabel pasien:
(1, 'Budi Santoso', datetime.date(1985, 4, 12), 'L', 'Jl. Gatot Subroto')
(3, 'Bey Putri', datetime.date(2000, 1, 31), 'P', 'Jl. Cipto Mangunkusumo')
(4, 'Cahyaningrum', datetime.date(2000, 1, 12), 'P', 'Jl. Jendral Sudirman')
Data id_pasien 3 berhasil dihapus.
Data dalam tabel pasien:
(1, 'Budi Santoso', datetime.date(1985, 4, 12), 'L', 'Jl. Gatot Subroto')
(4, 'Cahyaningrum', datetime.date(2000, 1, 12), 'P', 'Jl. Jendral Sudirman')
Koneksi ke MySQL ditutup.